@use "./variables.scss" as *;

// Resets

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 2.5rem;
}
h1,
h2 {
  font-size: $h1-h2-font-size;
  font-weight: $light;
}
h3 {
  font-size: $h3-font-size;
  font-weight: $light;
}
p {
  font-size: $p-font-size;
  margin: 0;
}
a {
  $button-font-size: 1.3125rem;
}

// Header

.header {
  background-color: $primary;
  padding: 0 1.25rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 4;
}
.header__home {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
.header__title {
  font-size: 3rem;
  margin-bottom: 0;
}
.header-nav__list {
  padding-left: 2.5rem;
  display: flex;
  gap: 1rem;
}
.header-nav__link {
  text-decoration: none;
}
.header-nav__link--active {
  color: $primary-highlight;
}
.header__logo {
  width: 3.125rem;
}
