@use "./variables.scss" as *;

// Resets

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
  max-width: 2000px;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 2.5rem;
}
h1,
h2 {
  font-size: $h1-h2-font-size;
  font-weight: $light;
}
h3 {
  font-size: $h3-font-size;
  font-weight: $light;
}
p {
  font-size: $p-font-size;
  margin: 0;
}
a {
  $button-font-size: 1.3125rem;
}

// Header

.header {
  background-color: $primary;
  padding: 0 1.25rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 2000px;
  z-index: 4;

  &__home {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    font-size: 2.65rem;
    margin-bottom: 0;
  }
  &__logo {
    width: 3.125rem;
  }
}
.header-nav {
  &__list {
    padding-left: 2.5rem;
    display: flex;
    gap: 1rem;
  }
  &__link {
    text-decoration: none;
    transition: 1s;
    &:hover {
      border-bottom: 1px solid $primary-highlight;
    }
  }
  &__link--active {
    color: $primary-highlight;
  }
}
