// Colors

$primary-highlight: #5bacc3;
$primary: #fff0ed;

$neutral-dark: #393939;
$neutral-medium: #909090;
$neutral-light: #f7f7f7;
$neutral-white: #fff;

// Font sizes and weights

$h1-h2-font-size: 3.75rem;
$h1-h2-font-weight: 300;

$h3-font-size: 2.0625rem;
$h3-font-weight: 400;

$button-font-size: 1.3125rem;
$button-font-weight: 400;

$p-font-size: 1.125rem;
$p-font-weight: 400;

$discount-font-size: 2.8125rem;
$discount-font-weight: 700;

// Images

$icon-width: 3.125rem;
$image-height: 17.5rem;

// Borders

$blue-frame: 5px solid $primary-highlight;
